.bck{
	height: 540px;
	width: auto;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;


}

.box {
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  opacity: 0.6;
}

nav{
	
}

.content {
 text-align: center;
 padding-top:20%; 
}

#btn{
	background-color: skyblue;

}

.col-lg-12 {
}

h1{
	color: red;
}

hr{
	width: 400px;
	border-top: 1px solid skyblue;
	border-bottom: 1px solid rgba(0,0,0,0.5)
}